<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
  {% include header.html %}
  <main class="main">
    <div class="products">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.9/default/snipcart.css" />
<div id="snipcart" data-api-key="ODY0ZmUwNTItMWY3Ni00ZGUxLTgzZTEtZDg1ZjdlYTI3MzMzNjM2OTkzMzI2ODY1NTgzMTQ4" hidden></div>
<script src="https://cdn.snipcart.com/themes/v3.0.9/default/snipcart.js"></script>
</html>
